# Core Jupyter environment
jupyter==1.1.1
notebook==7.5.2
ipython==9.9.0

# Quantum computing
qiskit==2.3.0
qiskit-aer==0.17.2

# Data science and visualization
numpy==2.4.1
# used for summary table display in Problem 4 only
pandas==3.0.0
matplotlib==3.10.8

# Scientific computing
scipy==1.17.0
